// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
    --ion-color-primary: #40BFCF;
    --ion-color-primary-dark: #241332;
    --ion-color-dark: #5E7C9A;
    --ion-color-secondary: #D47FA6;
    --ion-color-tertiary: #8A56AC;
    --ion-color-softdark: #423050;
    --ion-color-grayblue: #9599B3;
    --ion-color-graysoft: #bbbdc2;
    --ion-color-graymed: #757575;
    --ion-color-violetsoft: #817889;
    --ion-color-graylight: #d6d6d6;
    --ion-color-softlight: #F4F9FF;
    --ion-padding: 24px;

}